pipeline/Lookup and ForEach activity.json
{
	"name": "Lookup and ForEach activity",
	"properties": {
		"activities": [
			{
				"name": "list of Endpoints",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "SELECT *\tFROM metdata.\"IMF_endpoints\";",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzurePostgreSqlTables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "loop through the tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "list of Endpoints",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('list of Endpoints').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_downloadedIMF",
									"type": "DatasetReference",
									"parameters": {
										"relativeURL": {
											"value": "@item().name",
											"type": "Expression"
										},
										"sourceURL": {
											"value": "@item().baseURL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "OutputAzurePostgreSqlTable",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-25T14:05:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}