pipeline/PushdatatoPostgreSQL.json
{
	"name": "PushdatatoPostgreSQL",
	"properties": {
		"activities": [
			{
				"name": "Get data from ADLSgen2",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText9",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If condition for existing files",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get data from ADLSgen2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get data from ADLSgen2').output.exists,true)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait if file is not find",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data from blob storage to PostgreSQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "source_data",
											"value": "$$FILEPATH"
										},
										{
											"name": "timestamp",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "id",
												"type": "Decimal",
												"physicalType": "numeric"
											}
										},
										{
											"source": {
												"name": "name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "name",
												"type": "String",
												"physicalType": "character"
											}
										},
										{
											"source": {
												"name": "department",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "department",
												"type": "String",
												"physicalType": "character"
											}
										},
										{
											"source": {
												"name": "management",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "management",
												"type": "String",
												"physicalType": "character"
											}
										},
										{
											"source": {
												"name": "source_data",
												"type": "String"
											},
											"sink": {
												"name": "source_data",
												"type": "String",
												"physicalType": "character"
											}
										},
										{
											"source": {
												"name": "timestamp",
												"type": "String"
											},
											"sink": {
												"name": "timestamp",
												"type": "DateTime",
												"physicalType": "timestamp without time zone"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DelimitedText10",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzurePostgreSqlTable1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-25T14:05:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}