CBSFactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CBSFactory"
		},
		"AzureBlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage'"
		},
		"AzureDataLakeStorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage'"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureOutputStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureOutputStorage'"
		},
		"AzurePostgreSql_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzurePostgreSql'",
			"defaultValue": "Host=postgresqlcbs.postgres.database.azure.com;Port=5432;Database=cbs;UID=admincbsconsulytic;EncryptionMethod=1;ValidateServerCertificate=0"
		},
		"GitHubJSONfile_credential": {
			"type": "secureString",
			"metadata": "Secure string for 'credential' of 'GitHubJSONfile'"
		},
		"AzureDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://cbsst0rage.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://outputcbsst0rage.dfs.core.windows.net/"
		},
		"AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://keyvaultforaccesstoken.vault.azure.net/"
		},
		"GitHubJSONfile_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "merce-bit"
		},
		"HttpServer1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().BaseURL}"
		},
		"RestService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.imf.org/external/datamapper/api/v1/"
		},
		"restapijson_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.imf.org/external/datamapper/api/v1/"
		},
		"restapijson_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "merce-bit"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Apischeduletriggertest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web data",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://jsonplaceholder.typicode.com/todos/1",
							"method": "GET",
							"headers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lookup and ForEach activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "list of Endpoints",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT *\tFROM metdata.\"IMF_endpoints\";",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzurePostgreSqlTables",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "loop through the tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "list of Endpoints",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('list of Endpoints').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_downloadedIMF",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": {
													"value": "@item().name",
													"type": "Expression"
												},
												"sourceURL": {
													"value": "@item().baseURL",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "OutputAzurePostgreSqlTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzurePostgreSqlTables')]",
				"[concat(variables('factoryId'), '/datasets/ds_downloadedIMF')]",
				"[concat(variables('factoryId'), '/datasets/OutputAzurePostgreSqlTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PushIMFendpointstoPostgreSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get csv file from blob storage",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "IMFendpoints",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If IMFendpoints file exist copy to PostgreSQL",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get csv file from blob storage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get csv file from blob storage').output.exists,true)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Wait if csv file doesnot exist",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 5
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy IMFendpoints blob storage to PostgreSQL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "source",
													"value": "$$FILEPATH"
												},
												{
													"name": "timestamp",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "id",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "id",
														"type": "Decimal",
														"physicalType": "numeric"
													}
												},
												{
													"source": {
														"name": "name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "name",
														"type": "String",
														"physicalType": "character"
													}
												},
												{
													"source": {
														"name": "source",
														"type": "String"
													},
													"sink": {
														"name": "source_data",
														"type": "String",
														"physicalType": "character"
													}
												},
												{
													"source": {
														"name": "timestamp",
														"type": "String"
													},
													"sink": {
														"name": "timestamp",
														"type": "DateTime",
														"physicalType": "timestamp without time zone"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "IMFendpoints",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "AzurePostgreSqloutputIMF",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/IMFendpoints')]",
				"[concat(variables('factoryId'), '/datasets/AzurePostgreSqloutputIMF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PushdatatoPostgreSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get data from ADLSgen2",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText9",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If condition for existing files",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get data from ADLSgen2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get data from ADLSgen2').output.exists,true)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Wait if file is not find",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 10
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy data from blob storage to PostgreSQL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "source_data",
													"value": "$$FILEPATH"
												},
												{
													"name": "timestamp",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "id",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "id",
														"type": "Decimal",
														"physicalType": "numeric"
													}
												},
												{
													"source": {
														"name": "name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "name",
														"type": "String",
														"physicalType": "character"
													}
												},
												{
													"source": {
														"name": "department",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "department",
														"type": "String",
														"physicalType": "character"
													}
												},
												{
													"source": {
														"name": "management",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "management",
														"type": "String",
														"physicalType": "character"
													}
												},
												{
													"source": {
														"name": "source_data",
														"type": "String"
													},
													"sink": {
														"name": "source_data",
														"type": "String",
														"physicalType": "character"
													}
												},
												{
													"source": {
														"name": "timestamp",
														"type": "String"
													},
													"sink": {
														"name": "timestamp",
														"type": "DateTime",
														"physicalType": "timestamp without time zone"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DelimitedText10",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "AzurePostgreSqlTable1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText9')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText10')]",
				"[concat(variables('factoryId'), '/datasets/AzurePostgreSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/apiIMFwithJSON')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach through the APIEndpoints",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Copy data from json file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [
							{
								"name": "CurrentEndpoint",
								"value": "@item()"
							}
						],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.APIEndpoints\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Retrieve API from JSON file in Github",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Endpoint",
											"value": "@item().Endpoint"
										}
									],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.BaseURL, item().Endpoint)",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {}
									}
								}
							]
						}
					},
					{
						"name": "Copy data from json file",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "JsonfromGithub",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Jsonfile",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BaseURL": {
						"type": "string",
						"defaultValue": "'https://www.imf.org/external/datamapper/api/v1/'"
					},
					"APIEndpoints": {
						"type": "array",
						"defaultValue": [
							"groups",
							"regions",
							"countries",
							"indicators"
						]
					},
					"OutputFolderPath": {
						"type": "string",
						"defaultValue": "'https://github.com/merce-bit/CBS/blob/main/ELT/endpoints.json'"
					}
				},
				"variables": {
					"baseUrl": {
						"type": "String"
					},
					"groups": {
						"type": "String"
					},
					"regions": {
						"type": "String"
					},
					"countries": {
						"type": "String"
					},
					"indicators": {
						"type": "String"
					},
					"Var01": {
						"type": "Array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-07T17:04:25Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/JsonfromGithub')]",
				"[concat(variables('factoryId'), '/datasets/Jsonfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copy csv to parquet in ADLSgen2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy txt data to parquet data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "CurrentTimestamp",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "csvpersonal",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquetpersonal",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-01T11:20:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/csvpersonal')]",
				"[concat(variables('factoryId'), '/datasets/Parquetpersonal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/foreachloop csv to parquet in ADLSgen2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extraction of multiple files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_input",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Extraction of multiple files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Extraction of multiple files').output.ChildItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy txt data to parquet file in data lake",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "CurrentTimestamp",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												},
												{
													"name": "source",
													"value": "$$FILEPATH"
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "input",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_input",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Parquetdemo",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-01T11:38:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_input')]",
				"[concat(variables('factoryId'), '/datasets/Parquetdemo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/generate token from Github')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web generate token from Github",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://github.com/merce-bit/CBS/blob/main/ELT/endpoints.json",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "Basic",
								"username": "merce-bit",
								"password": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault",
										"type": "LinkedServiceReference"
									},
									"secretName": "acesstoken"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"Var01": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loop through table IMFendpoints')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data from table IMFendpoints",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT name\nFROM metdata.IMF_endpoints;",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LoopthroughpodtgreSQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzurePostgreSqlTableoutputimf",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/LoopthroughpodtgreSQL')]",
				"[concat(variables('factoryId'), '/datasets/AzurePostgreSqlTableoutputimf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/parent pipeline to generate token from github')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute ParentPipeline",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "generate token from Github",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"Var01": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/generate token from Github')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "metdata",
					"table": "personal_info"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSqlTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "numeric",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "department",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "allarounderornot",
						"type": "character",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "metdata",
					"table": "personal_info"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSqlTables')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSqloutputIMF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "numeric",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "source_data",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "timestamp",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "metdata",
					"table": "IMF_endpoints"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "input",
						"container": "cbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText10')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "career.txt",
						"folderPath": "input",
						"fileSystem": "cbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "output",
						"container": "cbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "endpoints.json",
						"folderPath": "input",
						"fileSystem": "cbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "JSON file from Github.txt",
						"folderPath": "input",
						"fileSystem": "cbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output/IMF data",
						"fileSystem": "outputcbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText7')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureOutputStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "outputJson.csv",
						"folderPath": "output",
						"container": "outputcbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureOutputStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText8')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureOutputStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "outputjson.csv",
						"folderPath": "output",
						"container": "outputcbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureOutputStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "career.txt",
						"folderPath": "input",
						"fileSystem": "cbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IMFendpoints')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "IMFendpoints.txt",
						"folderPath": "input",
						"fileSystem": "cbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output",
						"fileSystem": "outputcbscontainer"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "endpoints.json",
						"folderPath": "input",
						"fileSystem": "cbscontainer"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output/IMF data",
						"fileSystem": "outputcbscontainer"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "JSON file from Github.txt",
						"folderPath": "input",
						"fileSystem": "cbscontainer"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"Data": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									}
								}
							}
						},
						"indicators": {
							"type": "object",
							"properties": {
								"NGDP_RPCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NGDPD": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NGDPDPC": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PPPGDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PPPPC": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PPPSH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PPPEX": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PCPIPCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PCPIEPCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"LP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BCA": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BCA_NGDPD": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"": {
									"type": "object",
									"properties": {
										"label": {
											"type": "null"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "null"
										},
										"unit": {
											"type": "null"
										},
										"dataset": {
											"type": "null"
										}
									}
								},
								"LUR": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXCNL_NGDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXWDG_NGDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"rev": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"exp": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"prim_exp": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ie": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"pb": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"d": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"rgc": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "null"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"rltir": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "null"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"extensive": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"intensive": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"total_theil": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_0": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_1": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_2": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_3": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_4": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_5": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_6": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_7": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_8": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_9": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_total": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"DirectAbroad": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"DirectIn": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PrivInexDI": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PrivInexDIGDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PrivOutexDI": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PrivOutexDIGDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Portfa": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Portfl": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"EquityA": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"EquityL": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"DebtA": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"DebtL": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"OtherGov": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"OtherA": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"OtherL": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Deriv": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"DebtForg": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ka_new": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ka_in": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ka_out": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"FM_ka": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Nonres_ka": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Res_ka": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_eq": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_bo": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_mm": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_ci": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_dr": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_cc": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_fc": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_gu": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_di": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ka_ldi": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ka_ret": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ka_pct": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Reserves_ARA": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Reserves_M2": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Reserves_STD": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Reserves_M": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GRB_dummy": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GDI_TC": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GII_TC": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"DEBT1": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Privatedebt_all": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"HH_ALL": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NFC_ALL": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PVD_LS": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"HH_LS": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NFC_LS": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PS_DEBT_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NFPS_DEBT_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GG_DEBT_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"CG_DEBT_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXCNL_G01_GDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXONLB_G01_GDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGCB_G01_PGDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGCBP_G01_PGDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGR_G01_GDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"G_X_G01_GDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"G_XWDG_G01_GDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXWDN_G01_GDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NGDP_R_PCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NGDPXO_RPCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NGDPRPC_PCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NI_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NGS_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXCNL_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXCNLXG_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGRXG_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGX_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXWDG_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"FMB_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"FDSAOP_PCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"FDSAOP_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"FMB_PCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BX_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BCA_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BM_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BT_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BFD_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BRASS_MI": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"EREER": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ENEER": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"DG_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PCPI_PCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PCPIE_PCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"TTT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"FR_ind": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"FC_dummy": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								}
							}
						},
						"api": {
							"type": "object",
							"properties": {
								"version": {
									"type": "string"
								},
								"output-method": {
									"type": "string"
								}
							}
						},
						"CurrentTimestamp": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "JSON file from Github.txt",
						"folderPath": "input",
						"container": "cbscontainer"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"Data": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Jsonfile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output/IMF data",
						"fileSystem": "outputcbscontainer"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JsonfromGithub')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "JSON file from Github.txt",
						"folderPath": "input",
						"fileSystem": "cbscontainer"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoopthroughpodtgreSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "numeric",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "source_data",
						"type": "character",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "timestamp",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "metdata",
					"table": "IMF_endpoints"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OutputAzurePostgreSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "metdata",
					"table": {
						"value": "take().name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "output",
						"container": "cbscontainer"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquetdemo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureOutputStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "output",
						"container": "outputcbscontainer"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureOutputStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquetpersonal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output",
						"fileSystem": "outputcbscontainer"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSqlTable_as_output')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestapiJSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "restapijson",
					"type": "LinkedServiceReference",
					"parameters": {
						"endpont_i": {
							"value": "@dataset().endpont_i",
							"type": "Expression"
						},
						"endpont_c": {
							"value": "@dataset().endpont_c",
							"type": "Expression"
						},
						"endpoint_r": {
							"value": "@dataset().endpont_r",
							"type": "Expression"
						},
						"endpoint_g": {
							"value": "@dataset().endpont_g",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"endpont_i": {
						"type": "string"
					},
					"endpont_c": {
						"type": "string"
					},
					"endpont_r": {
						"type": "string"
					},
					"endpont_g": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/restapijson')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/careercsvtxt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "career.txt",
						"folderPath": "input",
						"fileSystem": "cbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csvpersonal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "personal.txt",
						"folderPath": "input",
						"fileSystem": "cbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "age",
						"type": "String"
					},
					{
						"name": " address",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_inputFolder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureOutputStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "output/IMF data",
						"container": "outputcbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureOutputStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_downloadedIMF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer1",
					"type": "LinkedServiceReference",
					"parameters": {
						"BaseURL": {
							"value": "@dataset().sourceURL",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"relativeURL": {
						"type": "string"
					},
					"sourceURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().relativeURL",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "input",
						"container": "cbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_list_endpoints')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "metdata",
					"table": "IMF_endpoints"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/endpointsdownloaded')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": "source",
						"fileSystem": "outputcbscontainer"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/outputdataLake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output",
						"fileSystem": "outputcbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureOutputStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureOutputStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "connect to postgresql",
				"annotations": [],
				"type": "AzurePostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('AzurePostgreSql_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "admincbsconsulytic"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GitHubJSONfile')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "GitHub",
				"typeProperties": {
					"username": "[parameters('GitHubJSONfile_properties_typeProperties_username')]",
					"credential": {
						"type": "SecureString",
						"value": "[parameters('GitHubJSONfile_credential')]"
					},
					"encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDg1MkMwRjQzLTZEQjItNDJDRi1BMThBLTY2NEQ5MDg1QjBBRV85MTAzNGI4NC0wZWJkLTQzZmItOGUyZi02ODI5MjQ5MTViMTUiDQp9"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"BaseURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"EndURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/restapijson')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"endpont_i": {
						"type": "string",
						"defaultValue": "indicators"
					},
					"endpont_c": {
						"type": "string",
						"defaultValue": "countries"
					},
					"endpoint_r": {
						"type": "string",
						"defaultValue": "regions"
					},
					"endpoint_g": {
						"type": "string",
						"defaultValue": "groups"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('restapijson_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Basic",
					"userName": "[parameters('restapijson_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "acesstoken"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSqlTableoutputimf')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "metdata",
					"table": "IMF_endpoints"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "apiIMFwithJSON",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "copy csv to parquet in ADLSgen2",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "foreachloop csv to parquet in ADLSgen2",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Lookup and ForEach activity",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "loop through table IMFendpoints",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 10,
						"startTime": "2023-07-07T12:10:00",
						"timeZone": "SA Eastern Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/apiIMFwithJSON')]",
				"[concat(variables('factoryId'), '/pipelines/copy csv to parquet in ADLSgen2')]",
				"[concat(variables('factoryId'), '/pipelines/foreachloop csv to parquet in ADLSgen2')]",
				"[concat(variables('factoryId'), '/pipelines/Lookup and ForEach activity')]",
				"[concat(variables('factoryId'), '/pipelines/loop through table IMFendpoints')]"
			]
		}
	]
}