CBSFactory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CBSFactory"
		},
		"AzurePostgreSql_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzurePostgreSql'",
			"defaultValue": "Host=postgresqlcbs.postgres.database.azure.com;Port=5432;Database=cbs;UID=admincbsconsulytic;EncryptionMethod=1;ValidateServerCertificate=0"
		},
		"restapijson_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.imf.org/external/datamapper/api/v1/"
		},
		"restapijson_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "merce-bit"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Json3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "JSON file from Github.txt",
						"folderPath": "input",
						"fileSystem": "cbscontainer"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"Data": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									}
								}
							}
						},
						"indicators": {
							"type": "object",
							"properties": {
								"NGDP_RPCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NGDPD": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NGDPDPC": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PPPGDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PPPPC": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PPPSH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PPPEX": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PCPIPCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PCPIEPCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"LP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BCA": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BCA_NGDPD": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"": {
									"type": "object",
									"properties": {
										"label": {
											"type": "null"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "null"
										},
										"unit": {
											"type": "null"
										},
										"dataset": {
											"type": "null"
										}
									}
								},
								"LUR": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXCNL_NGDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXWDG_NGDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"rev": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"exp": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"prim_exp": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ie": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"pb": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"d": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"rgc": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "null"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"rltir": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "null"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"extensive": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"intensive": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"total_theil": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_0": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_1": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_2": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_3": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_4": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_5": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_6": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_7": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_8": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_9": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"SITC1_total": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"DirectAbroad": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"DirectIn": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PrivInexDI": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PrivInexDIGDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PrivOutexDI": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PrivOutexDIGDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Portfa": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Portfl": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"EquityA": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"EquityL": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"DebtA": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"DebtL": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"OtherGov": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"OtherA": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"OtherL": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Deriv": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"DebtForg": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "null"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ka_new": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ka_in": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ka_out": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"FM_ka": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Nonres_ka": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Res_ka": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_eq": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_bo": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_mm": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_ci": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_dr": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_cc": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_fc": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_gu": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Ka_di": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ka_ldi": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ka_ret": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ka_pct": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Reserves_ARA": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Reserves_M2": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Reserves_STD": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Reserves_M": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GRB_dummy": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GDI_TC": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GII_TC": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"DEBT1": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"Privatedebt_all": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"HH_ALL": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NFC_ALL": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PVD_LS": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"HH_LS": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NFC_LS": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PS_DEBT_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NFPS_DEBT_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GG_DEBT_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"CG_DEBT_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXCNL_G01_GDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXONLB_G01_GDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGCB_G01_PGDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGCBP_G01_PGDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGR_G01_GDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"G_X_G01_GDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"G_XWDG_G01_GDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXWDN_G01_GDP_PT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NGDP_R_PCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NGDPXO_RPCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NGDPRPC_PCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NI_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"NGS_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXCNL_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXCNLXG_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGRXG_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGX_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"GGXWDG_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"FMB_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"FDSAOP_PCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"FDSAOP_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"FMB_PCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BX_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BCA_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BM_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BT_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BFD_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"BRASS_MI": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"EREER": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"ENEER": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"DG_GDP": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PCPI_PCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"PCPIE_PCH": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"TTT": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"FR_ind": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								},
								"FC_dummy": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string"
										},
										"description": {
											"type": "string"
										},
										"source": {
											"type": "string"
										},
										"unit": {
											"type": "string"
										},
										"dataset": {
											"type": "string"
										}
									}
								}
							}
						},
						"api": {
							"type": "object",
							"properties": {
								"version": {
									"type": "string"
								},
								"output-method": {
									"type": "string"
								}
							}
						},
						"CurrentTimestamp": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "JSON file from Github.txt",
						"folderPath": "input",
						"container": "cbscontainer"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"Data": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Jsonfile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output/IMF data",
						"fileSystem": "outputcbscontainer"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/JsonfromGithub')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "JSON file from Github.txt",
						"folderPath": "input",
						"fileSystem": "cbscontainer"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "output",
						"container": "cbscontainer"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquetdemo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureOutputStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "output",
						"container": "outputcbscontainer"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/careercsvtxt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "career.txt",
						"folderPath": "input",
						"fileSystem": "cbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_inputFolder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureOutputStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "output/IMF data",
						"container": "outputcbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "input",
						"container": "cbscontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "connect to postgresql",
				"annotations": [],
				"type": "AzurePostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('AzurePostgreSql_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "admincbsconsulytic"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/restapijson')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"endpont_i": {
						"type": "string",
						"defaultValue": "indicators"
					},
					"endpont_c": {
						"type": "string",
						"defaultValue": "countries"
					},
					"endpoint_r": {
						"type": "string",
						"defaultValue": "regions"
					},
					"endpoint_g": {
						"type": "string",
						"defaultValue": "groups"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('restapijson_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Basic",
					"userName": "[parameters('restapijson_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "acesstoken"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/apiIMF')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy txt data to parquet data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "CurrentTimestamp",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Json",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-01T11:20:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResource1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/apiIMFwithJSON')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach through the APIEndpoints",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Copy data from json file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [
							{
								"name": "CurrentEndpoint",
								"value": "@item()"
							}
						],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.APIEndpoints\n",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Retrieve API from JSON file in Github",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Endpoint",
											"value": "@item().Endpoint"
										}
									],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.BaseURL, item().Endpoint)",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {}
									}
								}
							]
						}
					},
					{
						"name": "Copy data from json file",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "JsonfromGithub",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Jsonfile",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"BaseURL": {
						"type": "string",
						"defaultValue": "'https://www.imf.org/external/datamapper/api/v1/'"
					},
					"APIEndpoints": {
						"type": "array",
						"defaultValue": [
							"groups",
							"regions",
							"countries",
							"indicators"
						]
					},
					"OutputFolderPath": {
						"type": "string",
						"defaultValue": "'https://github.com/merce-bit/CBS/blob/main/ELT/endpoints.json'"
					}
				},
				"variables": {
					"baseUrl": {
						"type": "String"
					},
					"groups": {
						"type": "String"
					},
					"regions": {
						"type": "String"
					},
					"countries": {
						"type": "String"
					},
					"indicators": {
						"type": "String"
					},
					"Var01": {
						"type": "Array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-07T17:04:25Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/JsonfromGithub')]",
				"[concat(variables('factoryId'), '/datasets/Jsonfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/docsforeachloop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extraction of multiple files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_input",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Extraction of multiple files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Extraction of multiple files').output.ChildItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy txt data to parquet file in data lake",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "CurrentTimestamp",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												},
												{
													"name": "source",
													"value": "$$FILEPATH"
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "input",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_input",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Parquetdemo",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-01T11:38:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_input')]",
				"[concat(variables('factoryId'), '/datasets/Parquetdemo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/extract from jsonfile csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Data'][0]['name']"
										},
										"sink": {
											"name": "name"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "Json4",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText8",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Json4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/get Json file as output from metadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dataset_inputFolder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "FileName",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"FileName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_inputFolder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/parent pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute ParentPipeline",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "generatetokenfromGithub",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"Var01": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://github.com/merce-bit/CBS/blob/main/ELT/endpoints.json",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "Basic",
								"username": "merce-bit",
								"password": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault",
										"type": "LinkedServiceReference"
									},
									"secretName": "acesstoken"
								}
							}
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Json",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								{
									"value": "@activity('Web1').output",
									"type": "Expression"
								}
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.Data",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "Name",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"Name": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText5",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText6",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText4",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								{
									"value": "ChildItems",
									"type": "Expression"
								}
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}